.cartContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center -> move the entire content to the center */
    align-items: center;
    margin: 50px 0px;
}

.productRow {
    display: flex;
    /* align-items: center -> align the image and info container in the middle*/
    align-items: center;
    margin-bottom: 100px;
    gap: 50px;
    width: 100%;
    max-width: 850px;
}

.productContainer {
    flex: 1;
}

.productInfoContainer {
    width: 100%;
}

.productDescContainer {
    display: flex;
    justify-content: space-between;

}

.btnContainer {
    margin-top: 20px;
}

.centeredPage {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingMessage {
    font-size: 1.5rem;
}

.emptyCartMessage {
    font-size: 2rem;
}