.detailPageContainer {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem 8rem;
}

.linkContainer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.link {
    color: inherit;
}

.productContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 4rem auto 0;
}

.productInfoContainer {
    max-width: 400px;
    width: 100%;
    margin-left: 7rem;
}

.buttonContainer {
    display: flex;
    gap: 5px;
}

.quantityContainer {
    margin-bottom: 0.5rem;
}

.cartButton {
    font-family: inherit;
    color: white;
    background-color: var(--primary-green);
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.buyButton {
    font-family: inherit;
    color: white;
    background-color: var(--vivid-green);
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.2s;

}

.cartButton:hover,
.buyButton:hover {
    opacity: 0.7;
}

.cartLink {
    font-family: inherit;
    color: white;
    background-color: var(--primary-green);
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.2s;
    text-decoration: none;
}

.priceText {
    font-size: 1.25rem;
    font-weight: 600;
}

@media (max-width: 740px) {
    .detailPageContainer {
        padding: 2rem 1rem 5rem;
    }

    .productContainer {
        flex-direction: column;
        margin-top: 2rem;
    }

    .productInfoContainer {
        max-width: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }

    .buttonContainer {
        flex-wrap: wrap;
    }
}