.productsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.productRow {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.singleProductContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.singleProductContainer a {
    color: var(--text-dark);
    text-decoration: none;
}

.centeredPage {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingMessage {
    font-size: 1.5rem;
}