* {
  box-sizing: border-box;
}

/* Custom Palette Variables */
:root {
  --primary-green: #2E7D32;
  --light-green: #A5D6A7;
  --vivid-green: #4ec252;
  --warm-beige: #FDF5E6;
  --text-dark: #333333;
  --accent-orange: #FF8F00;
  --white: #ffffff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-exo2), sans-serif;
  background-color: var(--white);
  color: var(--text-dark);
}

html,
body {
  margin: 0;
}

main {
  flex: 1
}