.productsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.productRow {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.singleProductContainer {
    padding: 20px;
    width: 340px;
}

.singleProductContainer a {
    color: var(--text-dark);
    text-decoration: none;
}

.productCard {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text-dark);
    width: 100%;

}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
}

.productName {
    text-align: left;
    margin-top: 0.25rem;
}

.productPrice {
    margin: 0;
    text-align: left;
    font-weight: 600;
}

.productImage {
    width: 200px;
    height: 150px;
    object-fit: contain;
}